* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.title {
  text-align: center;
  padding: 2rem;
}

.list {
    width: 100%;
    border: 1px solid #000;
}

.item {
    list-style: none;
    padding: 1rem 2rem;
}

.list_item {
    text-decoration: none;
    color: #000;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.list_item:hover {
    text-decoration: underline;
}