* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title {
    color: #fff;
}

.btn {
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
}

.btn:hover {
    background-color: rgb(224, 224, 224);
}